/* allow to generate different styles */
    .history {
        font-size: 36px;
        font-family: French Script MT;
        text-align: center;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    header nav {
        text-align: center;
        background: #efefef;
    }
    header nav ul {
        margin: 25px;
        padding: 1em;
        list-style-type: none;
    }
    header nav ul li {
        display: inline;
        margin-left: 1em;
    }
    header nav ul li:first-child {
        margin-left: 0;
    }
    header nav ul li ul {
        display: none;
    }

    .silver{
        color:#333333;
        display:inline;
    }
    
    .shift{
        padding-left: 100px;
    }
    
    .marge {
        padding-left: 200px;
        padding-right: 200px;
        display: block;
    }
    
    .red {
        color : red;
        display : inline;
    }
    
    .gold{
        color:#ff9900;
        display:inline;
    }
    
    .bronze{
        color:brown;
        display:inline;
    }
    
    .left{
        float: left;
        position: inherit;
    }
    
    .right{
        float: right;
        position: static;
        margin-right: 50px;
        margin-top: 30px;
    }
    
    .rightw{
        float: right;
        position: static;
    }
    
    .margeAccueil {
        margin-left: 300px;
        
    }
    
    .middle{
        text-align: center;
        display: inline;
    }
    
    .littlemarge{
        margin-right: 200px;
        margin-left: 200px;
    }
    
    .center {
        text-align: center;
        line-height: 40px;
    }
    
    .categorie{
        font-size : 20px;
        text-decoration: underline;
    }

    .font-size16 {
        font-size: 16px;
    }
    
    .font-size20 {
        font-size: 20px;   
    }
    
    .font-size40 {
        font-size: 40px; 
    }
    
    .shifttab {
        padding-left: 200px;
    }
    
    .underline {
        text-decoration: underline;
        display:inline;
    }
    
    h1{
        position: static;
        font-size:50px;
        text-decoration: underline;
    }
    
    h2{
        color: #ff6633;
        font-size:40px;
        text-decoration: underline;
    }
    
    input{
        cursor:pointer;
    }
    
    select{
        cursor:pointer;
    }
    
    #menu, #menu ul{
        margin-left: 4%;
        padding:0;
        margin:0;
        list-style:none;
        text-align:center;
    }
    
    #menu li{
        background-color: #ffcc99;
        background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
        background-image:linear-gradient(to bottom, #ff6633 0%, #ff6633 100%);
        display:inline-block;
        position:relative;
        border-radius:8px 8px 0 0;
    }
    
    #menu ul li{
        display:inherit;
        border-radius:0;
    }
    
    #menu ul li:hover{
        border-radius:0;
    }
    
    #menu ul{
        position:absolute;
        z-index: 1000;
        max-height:0;
        left: 0;
        right: 0;
        overflow:hidden;
        -moz-transition: .8s all .3s;
        -webkit-transition: .8s all .3s;
        transition: .8s all .3s;
    }
    
    #menu li:hover ul{
        max-height:15em;
    }

    #menu a{
        text-decoration:none;
        display:block;
        padding:8px 25px;
        color:#fff;
        font-family:arial;
    }
    
    #menu ul a{
        padding:8px 0;
    }
    
    #menu li:hover li a{
        color:#fff;
        text-transform:inherit;
    }
    
    #menu li:hover a, #menu li li:hover a{
        color:#000;
    }